<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Medical Intervention</key>
	<array>
		<string>Medical Consultations</string>
		<string>Diagnostics</string>
		<string>Monitoring</string>
		<string>Medications</string>
	</array>
	<key>Lifestyle Changes</key>
	<array>
		<string>Fitness Consultations</string>
		<string>Diet Plans</string>
		<string>Exercise Plans</string>
		<string>Rest, relaxation</string>
		<string>Soprts, Adventure</string>
		<string>Socialization</string>
	</array>
	<key>Habits</key>
	<array>
		<string>Track Habits</string>
	</array>
</dict>
</plist>
